// Field Set
$fieldset_margin: 10px; // Fieldset Margin
$fieldset_padding: 15px; // Fieldset Padding
$fieldset_border_radius: 0px; // Fieldset Border Radius
$fieldset_header_font_size:15px;
$form_display_field_font_size: 14px;
$form_label_font_color:dynamic(#3e4752);
$form_label_font_size: 14px;
$form_label_font_weight:700;
$fieldset_header_text_font_color:#3e4752;;
$form_trigger_background_color:dynamic(#c3d4df);
$form_item_margin_bottom: 0px;
$form_text_field_padding: 2px 2px 2px 4px;
$form_text_field_height:26px;
$form_label_font_size:13px;
$form-field-height:22px;
$form-field-padding:2px 4px 4px 2px;
