$tabbar_base_color: #ECECE4; // Tab Bar Background Color
$tabbar_strip_background_color: #fff;// Bottom Strip for Tab
$tabbar_border_color: #999;
$tabbar_strip_border_color: #999;
$tab_closable_icon_glyph_color_active:#fff;