
$tab_border_radius: 2px; // Tab Border Radius
$tab_color: #eaeaea; // Inactive Tab Text Color
$tab_color_active: #fff; // Active Tab Text Color
$tab_color_over: #fff; // Inactive Tab Text Color Over
$tab_base_color: #A23B19; // Inactive Tab Background Color
$tab_base_color_over:#a37768; // Tab Hover Color
$tab_base_color_active: #D54E21; // Active Tab Color
$tab_base_color_disabled: #A23B19;
$tab_base_color_focus: #A23B19;
$tab_border_color: #666;
$tab_border_color_active: #666;
$tab_border_color_focus: #666;
$tab_font_size: 12px;
$tab_font_size_active: 12px;
$tab_font_weight_active:800;s
$tab_font_weight:normal;
$tab_padding:4px;
$tab_border_radius: 3px 3px 0px 0px;

