$form-text-field-border-radius: dynamic(3px);
$form-toolbar-text-field-border-radius : dynamic(3px);
$grid-cell-text-field-border-radius: dynamic(3px);

$form-trigger-glyph-color: dynamic($neutral-dark-color);