$spinner-toolbar-trigger-down-glyph: dynamic($fa-var-caret-down 13px $font-icon-font-family);
$spinner-toolbar-trigger-up-glyph: dynamic($fa-var-caret-up 13px $font-icon-font-family);
$spinner-trigger-down-glyph: dynamic($ext-var-spinner-down 13px ExtJS);
$spinner-trigger-up-glyph: dynamic($ext-var-spinner-up 13px ExtJS);