$accordion-header-background-color:dynamic(#5aadd1);
$accordion-header-background-color-over:dynamic(#5aadd1);
$accordion-header-color:dynamic(#ffffff);
$accordion-header-font-weight:dynamic(700);
$accordion-tool-glyph-color:dynamic(#fff);