$tree_glyph_color:#9a6248;// Left Glyph Color
$tree_arrow_glyph_color: #4f5f87;// Closed Right Glyph Color
$tree_arrow_expanded_glyph_color: #9C9F84; // Expanded Right Glyph Color
$treelist_row_over_background_color: dynamic(#a5947a); // Tree Item Hover Color
$treelist_row_selected_background_color:dynamic(#a5947a); // Tree Item Selected Background Color
$treelist_row_selected_over_background_color: dynamic(#a5947a); // Tree Item Selected Hover Background Color
$tree_arrow_glyph: '\f0fe'; // Right Glyph Icon
$tree_arrow_expanded_glyph: '\f146'; // Right Glyph Icon
$treelist_left_padding: 10px;
$treelist_padding: 10px 20px 10px 10px;
$treelist_right_padding: 10px;
$treelist_toolstrip_background_color: #162656;
$treelist_item_expander_color:dynamic(#8d734a);
$treelist-item-expander_over_color:#fff;
$treelist_item_icon_color:#8d734a;
$treelist_item_icon_over_color:#fff;
//$tree-elbow-width:5px;

//Tree styling
$treepanel_body_background_color:#3e4752;


