@font-face {
	font-family: 'PT Sans';
	src: url('/resources/StyleGuide/Sencha/ThemeDemos/GrandRiver/resources/fonts/PT_Sans-Narrow-Web-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('/resources/StyleGuide/Sencha/ThemeDemos/GrandRiver/resources/fonts/OpenSans-Regular.ttf');
}