// Dev
@font-face {
	font-family: 'Droid Sans';
	src: url('/resources/StyleGuide/Sencha/ThemeDemos/Monroe/resources/fonts/DroidSans.ttf');
}

/* LOCAL
@font-face {
	font-family: 'Droid Sans';
	src: url('/packages/local/Monroe/resources/fonts/DroidSans.ttf');
}
*/