/*
//row cell over
$grid-row-cell-over-background-color: mix(#fff, #F7DCB4, 65%);
$grid-row-cell-over-border-color: $grid-row-cell-over-background-color);

//row cell selected
$grid-row-cell-selected-background-color: mix(#fff, #F7DCB4, 25%);
$grid-row-cell-selected-border-color: $grid-row-cell-selected-background-color);

$grid-row-cell-focus-border-color: mix(#ddd, #F7DCB4, 20%);
*/
