// Window
$window_base_color: dynamic(#636260); // Window Header/Border Color
$window_border_color: dynamic(#636260);
$window_header_background_color: dynamic(#636260);
$window_header_color: dynamic(#fff);