//Tooltip Styling
$tip-background-color: dynamic(#f2f2f2);
$tip-background-gradient: bevel;
$tip-body-color: #4d4d4d;
$tip-body-font-size: 12px;
$tip-body-link-color:#178de3;
$tip-body-padding:10px 10px 10px 10px;
$tip-border-color:#d3d3d3;
$tip-border-radius: 5px 5px 5px 5px;
$tip-border-width: 0px;
$tip-header-color: #5a5a5a;
$tip-header-font-size:13px;
$tip-header-font-weight:600;
$tip-tool-spacing: 4px;