// Button
$button_toolbar_arrow_glyph_color: #fff;
$button_toolbar_color: #fff; // Toolbar Font Color
//$button_toolbar_border_color: #E8841F; // Toolbar Border Color
//$button_toolbar_border_color_over: #FF792F; // Toolbar Border Color
$button_toolbar_background_color_over: #a5947a;
$button_toolbar_background_color: #8d734a;
//button default
$button_default_border_color: #999;// Button Border Color
$button_default_border_color_over: #999;// Button Border Color 4870B3
$button_toolbar_background_color: #8d734a;
$button_default_base_color: #8d734a; // Button Background Color
$button_default_color: #eee; // Button Text Color
$button_default_button_color_pressed: #a5947a;
$button_default_base_color_focus_pressed: #a5947a;
$button_default_base_color_pressed: #a5947a;
$button_default_base_color_disabled: #999;
$button_default_background_color_focus_pressed: #a5947a;
$button_default_background_color_pressed: #a5947a;
$button_default_base_color_focus_over: #999;
$button_default_background_color: #8d734a;// Toolbar Button Color
$button_default_background_color_focus: #a5947a;
$button_default_background_color_focus_over: #a5947a;
$button_default_background_color_over: #a5947a;
$button_default_base_color_over: #a5947a;
//radius, font size and font-weight
$button_small_border_radius: 3px; // Small Button Border Radius
$button_medium_border_radius: 3px; // Medium Button Border Radius
$button_large_border_radius: 3px; // Large Button Border Radius
$button_grid_cell_border_radius: 0px; // Button Grid CellBorder Radius
$button_small_font_weight:bold;
$button_small_line_height: 18px;
$button_small_padding: 7px;
$button_small_split_height: 15px;
$button_small_text_padding: 6px;
$button_split_height: 14px;
$button_small_font_size: 13px;
$button_small_glyph_font_size: 16px;


