// Window
$window_base_color: dynamic(#5aadd1); // Window Header/Border Color
$window_border_color: dynamic(#5aadd1);
$window_header_background_color: dynamic(#5aadd1);
$window_header_color: dynamic(#fff);