
$tab_border_radius: 2px; // Tab Border Radius
$tab_color: #eaeaea; // Inactive Tab Text Color
$tab_color_active: #eaeaea; // Active Tab Text Color
$tab_color_over: #eaeaea; // Inactive Tab Text Color Over
$tab_base_color: #a5947a; // Inactive Tab Background Color
//$tab_base_color_over:#a37768; // Tab Hover Color
$tab_base_color_active: #8d734a; // Active Tab Color
$tab_base_color_disabled: #a5947a;
$tab_base_color_focus: #a5947a;
$tab_border_color: #a5947a;
$tab_border_color_active: #a5947a;
$tab_border_color_focus: #a5947a;
$tab_font_size: 12px;
$tab_font_size_active: 12px;
$tab_font_weight_active:800;
$tab_font_weight:normal;
$tab_padding:4px;
$tab_border_radius: 3px 3px 0px 0px;
