$tabbar-scroller-background-color: dynamic($light-color);
$tabbar-scroller-glyph-color: dynamic($neutral-light-color);
$tabbar-scroller-opacity: dynamic(0.6);
$tabbar-scroller-opacity-over: dynamic(1);
//
$tabbar-strip-height: dynamic(1px);
$tabbar-strip-background-color: dynamic($neutral-color);

$tabbar-background-gradient: dynamic($light-color, $light-color);