//slight color for toolbars
$toolbar-background-color: dynamic($atlas-super-light-gray);
$toolbar-border-top-color: dynamic($atlas-medium-gray);
$toolbar-border-top-width: dynamic(1px);

$toolbar-footer-background-color: dynamic(transparent);