// Dev
@font-face {
	font-family: 'Roboto';
	src: url('/resources/StyleGuide/Sencha/ThemeDemos/Gratiot/resources/fonts/Roboto-Regular.ttf');
}

/* LOCAL
@font-face {
	font-family: 'Roboto';
	src: url('/packages/local/Gratiot/resources/fonts/Roboto-Regular.ttf');
}
*/