$fieldset-header-padding: dynamic(2px);
$fieldset-header-font-size: dynamic($font-size);

$fieldset-collapse-tool-margin: dynamic(0 2px 0 0);
$fieldset-tool-glyph-color: dynamic($neutral-dark-color);

$fieldset-border-radius: dynamic(3px);