//datepicker
$datepicker-background-color: dynamic(#ffffff);
$datepicker-line-height:dynamic(23px);
$datepicker-item-padding: dynamic(0px 9px 0px 0px);
$datepicker-arrow-glyph-color:dynamic(#fff);
$datepicker-column-header-background-gradient:dynamic(glossy);
$datepicker-column-header-border-style:dynamic(solid);
$datepicker-column-header-border-width:dynamic(0px);
$datepicker-column-header-font-size:dynamic(11px);
$datepicker-column-header-font-weight:dynamic(600);
$datepicker-column-header-height:dynamic(35px);
$datepicker-column-header-line-height:dynamic(25px);
$datepicker-column-header-color: dynamic(#fff);
$datepicker-column-header-border-color: dynamic(#fff);
$datepicker-column-header-background-color: dynamic(#5aadd1);
$datepicker-footer-background-color:dynamic(#b8c8d2);
$datepicker-footer-background-gradient:dynamic(glossy);
$datepicker-header-background-gradient:dynamic(glossy);
$datepicker-item-font-size:dynamic(12px);
$datepicker-item-height: dynamic(25px);
$datepicker-item-selected-background-color: dynamic(#5aadd1);
$datepicker-item-selected-border-color:dynamic(#5aadd1);
$datepicker-item-today-background-color:dynamic(#5aadd1);
$datepicker-item-width:dynamic(28px);
$datepicker-monthpicker-small-item-height: dynamic(10px);
$datepicker-monthpicker-item-height: dynamic(24px);
$datepicker-monthpicker-yearnav-button-height:dynamic(28px);
$datepicker-monthpicker-yearnav-color:dynamic(#ffffff);
$datepicker-border-color: dynamic($neutral-color);
$datepicker-arrow-width: dynamic(12px);
$datepicker-arrow-height: dynamic(12px);
$datepicker-arrow-opacity: dynamic(.7);
$datepicker-arrow-opacity-over: dynamic(1);
$datepicker-month-button-arrow-width: dynamic(8px);
$datepicker-header-background-color: dynamic(#fff);
$datepicker-item-today-background-color:dynamic(#d3d3d3);
$datepicker-item-selected-background-color:dynamic(#5aadd1);
$datepicker-item-selected-border-color:dynamic(#5aadd1);
$datepicker-item-hover-background-color:dynamic(#5aadd1);
$datepicker-item-hover-color:dynamic(#ffffff);
$datepicker-month-button-padding:dynamic(4px);
$datepicker-month-button-over-background-color:dynamic(#5aadd1);
$datepicker-month-button-pressed-background-color:dynamic(#5aadd1);
$datepicker-month-button-font-size:dynamic(12px);
.#{$prefix}datepicker-column-header{border:none !important}
.#{$prefix}datepicker-month .x-btn-inner{color:#fff !important}
$datepicker-arrow-glyph-color: dynamic(#5aadd1);
$datepicker-monthpicker-prev-glyph-color: dynamic(#5aadd1);
$datepicker-monthpicker-next-glyph-color: dynamic(#5aadd1);