// Base
$base-color: #1e2e57;

// Font
$font-family: dynamic('Tahoma');

// Button
$button-default-base-color: dynamic(#4f5f87);
$button-small-border-radius: dynamic(15px);
$button-medium-border-radius: dynamic(15px);
$button-large-border-radius: dynamic(15px);
$button-grid-cell-border-radius: dynamic(15px);

// Tab
$tab-base-color-active: dynamic(#32436d);
$tab-color: dynamic(#fff);
$tab-color-active: dynamic(#fff);

// Tree
$tree-glyph-color: dynamic($base-color);
$tree-checkbox-glyph-color: dynamic($base-color);

// Window Color
$window-base-color: dynamic($base-color);

// Logo
$atlas-logo-color: dynamic(#fff);

// Nav Tree
$atlas-menu-background: dynamic(#1e2e57);
$atlas-menu-active: dynamic(#32436d);
$atlas-menu-hover: dynamic(#32436d);
$atlas-menu-text: dynamic(#fff);

// Grid
$panel-light-header-color: dynamic(#32436d);

// Grid Header
$atlas-grid-header: dynamic(#8d7249);

h2 {
	font-size: 35px;
	font-weight: 600;
	line-height: 1.2;
	color: #4f5f87;
	padding: 10px;
	margin: 0px;
	padding-left: 0px;
}

h4 {
	margin: 0px;
}

/* Using !important now until I find a way to override without
using the ext folder */
// FORMS HEADER BACKGROUND
.x-window-header-default-top {
    background-color: $atlas-grid-header !important;
}

.x-panel-header-default-framed-top {
    background-color: $atlas-grid-header !important;
}

// LEFT NAV BACKGROUND
.x-treelist-navigation {
    background-color: $atlas-menu-background !important;
}

// LEFT NAV ACTIVE PART 1
.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row:before {
    background-color: $atlas-menu-active !important;
}

// LEFT NAV ACTIVE PART 2
.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row {
    background-color: $atlas-menu-active !important;
}

// LEFT NAV HOVER
.x-treelist-row.x-treelist-row-over {
    background-color: $atlas-menu-active !important;
}

// LEFT NAV TEXT
.x-treelist-navigation .x-treelist-item-text {
    color: $atlas-menu-text !important;
}

// LEFT NAV ICON
.x-treelist-navigation .x-treelist-item-icon,
.x-treelist-navigation .x-treelist-item-tool {
    color: $atlas-menu-text !important;
}

// LEFT NAV SMALL ACTIVE
.x-treelist-navigation .x-treelist-item-selected.x-treelist-item-tool {
    background-color: $atlas-menu-active !important;
}

.x-treelist-navigation .x-treelist-item-selected.x-treelist-item-tool:after {
    background-color: $atlas-menu-active !important;
}

.x-treelist-navigation .x-treelist-item-tool-floated {
    background-color: $atlas-menu-active !important;
}

.x-treelist-navigation .x-treelist-item-tool-floated:after {
    background-color: $atlas-menu-active !important;
}
.x-treelist-item-tool.x-fa fa-user.x-treelist-item-floated {
    background-color: $atlas-menu-background !important;
}
// LEFT NAV SMALL
.x-treelist-navigation .x-treelist-toolstrip {
    background-color: $atlas-menu-background !important;
}

x-treelist-item x-treelist-item-leaf x-treelist-item-with-icon {
    background-color: $atlas-menu-active !important;
}

// WINDOW TITLE CRISP
.x-window-header-title-default {
	color: #fff !important;
}