// Dev
@font-face {
	font-family: 'Merriweather';
	src: url('/resources/StyleGuide/Sencha/ThemeDemos/Cass/resources/fonts/Merriweather-Regular.ttf');
}

/* LOCAL
@font-face {
	font-family: 'Merriweather';
	src: url('/packages/local/Monroe/resources/fonts/Merriweather-Regular.ttf');
}
*/