$panel-header-line-height: dynamic(16px);
$panel-header-padding: dynamic(8px);

$panel-frame-border-width: dynamic(1px);
$panel-frame-border-radius: dynamic(3px);

//todo: convert to variable
$panel-frame-border-color: #eee;