// Tree Menu
$treelist_item_color: dynamic(#ffffff);
$treelist_item_icon_font_size:dynamic(14px);
$treelist_item_line_height:dynamic(38px);
$treelist_item_text_color: dynamic(#232323);
$treelist_item_text_font_size: dynamic(13px);
$treelist_item_text_icon_gap: dynamic(20px);
$treelist_item_background_color:dynamic(#3e4752);
$treelist_item_icon_color: dynamic(#67c7c7);
$treelist_item_icon_over_color: dynamic(#ffffff);
$treelist_item_text_over_color: dynamic(#232323);
$treelist_item_icon_selected_color: dynamic(#232323);
$tree_cell_inner_padding:7px 2px 0px 6px;

