$icomoon-font-path: "fonts" !default;

$icon-member-path1: "\e900";
$icon-member-path2: "\e901";
$icon-member-path3: "\e902";
$icon-prescriber-path1: "\e903";
$icon-prescriber-path2: "\e904";
$icon-prescriber-path3: "\e905";
$icon-prescriber-path4: "\e906";
$icon-prescriber-path5: "\e907";
$icon-prescriber-path6: "\e908";
$icon-prescriber-path7: "\e909";
$icon-prescriber-path8: "\e90a";
$icon-prescriber-path9: "\e90b";
$icon-prescriber-path10: "\e90c";
$icon-prescriber-path11: "\e90d";
$icon-atlas-formulary-path1: "\e90e";
$icon-atlas-formulary-path2: "\e90f";
$icon-atlas-formulary-path3: "\e910";
$icon-atlas-formulary-path4: "\e911";
$icon-atlas-formulary-path5: "\e912";
$icon-atlas-formulary-path6: "\e913";
$icon-atlas-formulary-path7: "\e914";
$icon-atlas-formulary-path8: "\e915";
$icon-pharmacy-path1: "\e916";
$icon-pharmacy-path2: "\e917";
$icon-pharmacy-path3: "\e918";
$icon-pharmacy-path4: "\e919";
$icon-pharmacy-path5: "\e91a";
$icon-pharmacy-path6: "\e91b";
$icon-pharmacy-path7: "\e91c";
$icon-pharmacy-path8: "\e91d";
$icon-pharmacy-path9: "\e91e";
$icon-claims-path1: "\e91f";
$icon-claims-path2: "\e920";
$icon-claims-path3: "\e921";
$icon-finance-path1: "\e922";
$icon-finance-path2: "\e923";
$icon-finance-path3: "\e924";
$icon-finance-path4: "\e925";
$icon-finance-path5: "\e926";
$icon-finance-path6: "\e927";
$icon-plan-path1: "\e928";
$icon-plan-path2: "\e929";
$icon-plan-path3: "\e92a";
$icon-plan-path4: "\e92b";
$icon-plan-path5: "\e92c";
$icon-plan-path6: "\e92d";
$icon-plan-path7: "\e92e";
$icon-plan-path8: "\e92f";
$icon-plan-path9: "\e930";
$icon-plan-path10: "\e931";
$icon-authorization-path1: "\e932";
$icon-authorization-path2: "\e933";
$icon-authorization-path3: "\e934";
$icon-authorization-path4: "\e935";
$icon-authorization-path5: "\e936";
$icon-authorization-path6: "\e937";
$icon-authorization-path7: "\e938";
$icon-authorization-path8: "\e939";
$icon-authorization-path9: "\e93a";
$icon-authorization-path10: "\e93b";
$icon-authorization-path11: "\e93c";
$icon-authorization-path12: "\e93d";
$icon-authorization-path13: "\e93e";
$icon-formulary-path1: "\e93f";
$icon-formulary-path2: "\e940";
$icon-formulary-path3: "\e941";
$icon-formulary-path4: "\e942";
$icon-formulary-path5: "\e943";
$icon-formulary-path6: "\e944";
$icon-formulary-path7: "\e945";
$icon-mac-path1: "\e946";
$icon-mac-path2: "\e947";
$icon-letters-path1: "\e948";
$icon-letters-path2: "\e949";
$icon-letters-path3: "\e94a";
$icon-letters-path4: "\e94b";
$icon-letters-path5: "\e94c";
$icon-letters-path6: "\e94d";
$icon-letters-path7: "\e94e";
$icon-letters-path8: "\e94f";
$icon-letters-path9: "\e950";
$icon-letters-path10: "\e951";
$icon-letters-path11: "\e952";
$icon-letters-path12: "\e953";
$icon-letters-path13: "\e954";
$icon-letters-path14: "\e955";
$icon-letters-path15: "\e956";
$icon-letters-path16: "\e957";
$icon-casemanage-path1: "\e958";
$icon-casemanage-path2: "\e959";
$icon-casemanage-path3: "\e95a";
$icon-casemanage-path4: "\e95b";
$icon-casemanage-path5: "\e95c";
$icon-casemanage-path6: "\e95d";
$icon-casemanage-path7: "\e95e";
$icon-casemanage-path8: "\e95f";
$icon-casemanage-path9: "\e960";
$icon-casemanage-path10: "\e961";
$icon-rebate: "\e962";
$icon-admin-path1: "\e963";
$icon-admin-path2: "\e964";
$icon-admin-path3: "\e965";
$icon-admin-path4: "\e966";
$icon-reports-path1: "\e967";
$icon-reports-path2: "\e968";
$icon-reports-path3: "\e969";
$icon-reports-path4: "\e96a";
$icon-reports-path5: "\e96b";
$icon-reports-path6: "\e96c";
$icon-reports-path7: "\e96d";
$icon-reports-path8: "\e96e";
$icon-reports-path9: "\e96f";
$icon-reports-path10: "\e970";
$icon-fwa: "\e971";
$icon-grievances-path1: "\e972";
$icon-grievances-path2: "\e973";
$icon-grievances-path3: "\e974";
$icon-grievances-path4: "\e975";
$icon-grievances-path5: "\e976";
$icon-grievances-path6: "\e977";
$icon-grievances-path7: "\e978";
$icon-obiee-path1: "\e979";
$icon-obiee-path2: "\e97a";
$icon-obiee-path3: "\e97b";
$icon-obiee-path4: "\e97c";
$icon-obiee-path5: "\e97d";
$icon-encounter-path1: "\e97e";
$icon-encounter-path2: "\e97f";
$icon-encounter-path3: "\e980";
$icon-encounter-path4: "\e981";
$icon-encounter-path5: "\e982";
$icon-encounter-path6: "\e983";
$icon-encounter-path7: "\e984";
$icon-encounter-path8: "\e985";
$icon-encounter-path9: "\e986";
$icon-benefitplan-path1: "\e987";
$icon-benefitplan-path2: "\e988";
$icon-benefitplan-path3: "\e989";
$icon-benefitplan-path4: "\e98a";
$icon-benefitplan-path5: "\e98b";
$icon-benefitplan-path6: "\e98c";
$icon-benefitplan-path7: "\e98d";
$icon-benefitplan-path8: "\e98e";
$icon-benefitplan-path9: "\e98f";
$icon-benefitplan-path10: "\e990";
$icon-benefitplan-path11: "\e991";
$icon-benefitplan-path12: "\e992";
$icon-benefitplan-path13: "\e993";
$icon-benefitplan-path14: "\e994";
$icon-benefitplan-path15: "\e995";
$icon-benefitplan-path16: "\e996";
$icon-benefitplan-path17: "\e997";
$icon-benefitplan-path18: "\e998";
$icon-benefitplan-path19: "\e999";
$icon-benefitplan-path20: "\e99a";
$icon-contactlog-path1: "\e99b";
$icon-contactlog-path2: "\e99c";
$icon-contactlog-path3: "\e99d";
$icon-contactlog-path4: "\e99e";
$icon-contactlog-path5: "\e99f";
$icon-contactlog-path6: "\e9a0";
$icon-contactlog-path7: "\e9a1";
$icon-contactlog-path8: "\e9a2";
$icon-claimalert-path1: "\e9a3";
$icon-claimalert-path2: "\e9a4";
$icon-claimalert-path3: "\e9a5";
$icon-denialappeal-path1: "\e9a6";
$icon-denialappeal-path2: "\e9a7";
$icon-casealert-path1: "\e9a8";
$icon-casealert-path2: "\e9a9";
$icon-casealert-path3: "\e9aa";
$icon-casealert-path4: "\e9ab";
$icon-casealert-path5: "\e9ac";
$icon-casealert-path6: "\e9ad";
$icon-casealert-path7: "\e9ae";
$icon-casealert-path8: "\e9af";
$icon-casealert-path9: "\e9b0";
$icon-casealert-path10: "\e9b1";
$icon-casealert-path11: "\e9b2";
$icon-casealert-path12: "\e9b3";
$icon-casealert-path13: "\e9b4";
$icon-casealert-path14: "\e9b5";
$icon-casealert-path15: "\e9b6";
$icon-casealert-path16: "\e9b7";
$icon-casealert-path17: "\e9b8";
$icon-dmralert-path1: "\e9b9";
$icon-dmralert-path2: "\e9ba";
$icon-dmralert-path3: "\e9bb";
$icon-dmralert-path4: "\e9bc";
$icon-dmralert-path5: "\e9bd";
$icon-dmralert-path6: "\e9be";
$icon-dmralert-path7: "\e9bf";
$icon-dmralert-path8: "\e9c0";
$icon-dmralert-path9: "\e9c1";
$icon-dmralert-path10: "\e9c2";
$icon-codealert-path1: "\e9c3";
$icon-codealert-path2: "\e9c4";
$icon-codealert-path3: "\e9c5";
$icon-codealert-path4: "\e9c6";
$icon-codealert-path5: "\e9c7";
$icon-codealert-path6: "\e9c8";
$icon-codealert-path7: "\e9c9";
$icon-codealert-path8: "\e9ca";
$icon-codealert-path9: "\e9cb";
$icon-codealert-path10: "\e9cc";
$icon-codealert-path11: "\e9cd";
$icon-codealert-path12: "\e9ce";
$icon-codealert-path13: "\e9cf";
$icon-codealert-path14: "\e9d0";
$icon-outreachalert-path1: "\e9d1";
$icon-outreachalert-path2: "\e9d2";
$icon-outreachalert-path3: "\e9d3";
$icon-outreachalert-path4: "\e9d4";
$icon-outreachalert-path5: "\e9d5";
$icon-jobqueue-path1: "\e9d6";
$icon-jobqueue-path2: "\e9d7";
$icon-jobqueue-path3: "\e9d8";
$icon-priorauthalert-path1: "\e9d9";
$icon-priorauthalert-path2: "\e9da";
$icon-priorauthalert-path3: "\e9db";
$icon-priorauthalert-path4: "\e9dc";
$icon-priorauthalert-path5: "\e9dd";
$icon-priorauthalert-path6: "\e9de";
$icon-priorauthalert-path7: "\e9df";
$icon-priorauthalert-path8: "\e9e0";
$icon-priorauthalert-path9: "\e9e1";
$icon-priorauthalert-path10: "\e9e2";
$icon-priorauthalert-path11: "\e9e3";
$icon-priorauthalert-path12: "\e9e4";
$icon-priorauthalert-path13: "\e9e5";
$icon-priorauthalert-path14: "\e9e6";
$icon-locksalert-path1: "\e9e7";
$icon-locksalert-path2: "\e9e8";
$icon-locksalert-path3: "\e9e9";
$icon-locksalert-path4: "\e9ea";
$icon-locksalert-path5: "\e9eb";
$icon-locksalert-path6: "\e9ec";
$icon-locksalert-path7: "\e9ed";
$icon-locksalert-path8: "\e9ee";
$icon-locksalert-path9: "\e9ef";
$icon-locksalert-path10: "\e9f0";
$icon-locksalert-path11: "\e9f1";
$icon-grievancealert-path1: "\e9f2";
$icon-grievancealert-path2: "\e9f3";
$icon-grievancealert-path3: "\e9f4";
$icon-grievancealert-path4: "\e9f5";
$icon-grievancealert-path5: "\e9f6";
$icon-grievancealert-path6: "\e9f7";
$icon-grievancealert-path7: "\e9f8";
$icon-grievancealert-path8: "\e9f9";
$icon-grievancealert-path9: "\e9fa";
$icon-grievancealert-path10: "\e9fb";
$icon-grievancealert-path11: "\e9fc";
$icon-grievancealert-path12: "\e9fd";
$icon-grievancealert-path13: "\e9fe";
$icon-grievancealert-path14: "\e9ff";
$icon-cocalert-path1: "\ea00";
$icon-cocalert-path2: "\ea01";
$icon-cocalert-path3: "\ea02";
$icon-cocalert-path4: "\ea03";
$icon-cocalert-path5: "\ea04";
$icon-cocalert-path6: "\ea05";
$icon-cocalert-path7: "\ea06";
$icon-cocalert-path8: "\ea07";
$icon-cocalert-path9: "\ea08";
$icon-cocalert-path10: "\ea09";
$icon-cocalert-path11: "\ea0a";
$icon-cocalert-path12: "\ea0b";
$icon-cocalert-path13: "\ea0c";
$icon-cocalert-path14: "\ea0d";
$icon-cocalert-path15: "\ea0e";
$icon-cocalert-path16: "\ea0f";
$icon-cocalert-path17: "\ea10";
$icon-cocalert-path18: "\ea11";
$icon-cocalert-path19: "\ea12";
$icon-cocalert-path20: "\ea13";
$icon-cocalert-path21: "\ea14";
$icon-safetyalert-path1: "\ea15";
$icon-safetyalert-path2: "\ea16";
$icon-safetyalert-path3: "\ea17";
$icon-safetyalert-path4: "\ea18";
$icon-safetyalert-path5: "\ea19";
$icon-safetyalert-path6: "\ea1a";
$icon-safetyalert-path7: "\ea1b";
$icon-safetyalert-path8: "\ea1c";
$icon-safetyalert-path9: "\ea1d";
$icon-safetyalert-path10: "\ea1e";
$icon-taskscheduler-path1: "\ea75";
$icon-taskscheduler-path2: "\ea76";
$icon-taskscheduler-path3: "\ea77";
$icon-taskscheduler-path4: "\ea78";
$icon-taskscheduler-path5: "\ea79";
