$tabbar_base_color: #ebedf0; // Tab Bar Background Color
$tabbar_strip_background_color: #dce4e6;// Bottom Strip for Tab
$tabbar_border_color: #fdefeb;
$tabbar_strip_border_color: #fdefeb;
$tab_closable_icon_glyph_color_active:#fff;