/**$grid_row_cell_over_background_color: #F7DCB4; // Grid Hover Color
$grid_row_cell_selected_background_color: #F7DCB4; // Grid Selected Background Color**/
$grid_column_header_color: #333333;
$grid_grouped_title_color: #fff;
$grid_header_background_color: #d8d8d8;
$grid_header_border_color: #ffffff;
$grid_header_over_background_color: #f8f8f8;
$grid_grouped_title_color: #232323; // Header for accordion like Grids
$grid_column_header_focus_color: #232323;
$grid_column_header_font: bold 13px/15px;
$grid_row_cell_selected_background_color:#F7DCB4;
$progress_background_color: #F7DCB4;
$grid_cell_selected_background_color:#F7DCB4;
$grid_cell_inner_font_weight: 500;