<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="con" providerName="System.Data.SqlClient" 
         connectionString="data source=MISQL2014CL01D\INST01D; initial catalog=AtlasFormulary; integrated security=True ;MultipleActiveResultSets=True;" />
  </connectionStrings>
  
  
  
</configuration>