
 $tree-arrow-expanded-glyph:dynamic('\f146');
$tree-arrow-glyph:dynamic('\f0fe');
$tree-arrow-glyph-color:dynamic(#1d9d15);
$tree-cell-inner-padding:dynamic(2px);
$tree-checkbox-checked-glyph:dynamic(#5aadd1);
$tree-checkbox-glyph-color:dynamic(#5aadd1);
$tree-folder-glyph-color:dynamic(#5aadd1);
$tree-folder-open-glyph-color:dynamic(#5aadd1);
$tree-glyph-color:dynamic(#1d9d15);
$tree-glyph-font-size:dynamic(13px);
$tree-checkbox-checked-glyph: dynamic($form-checkbox-checked-glyph);
$tree-checkbox-glyph: dynamic($form-checkbox-glyph);
$tree-checkbox-spacing: dynamic(3px);